input {
    outline: none;
    color: #333;
}

.form-group {
    display: flex;
    gap: 1rem;
}

.form-control {
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    border: 1px solid #d1d1d1;
}